.App {
  padding: 10px;
  position: relative;
}
.question-section {
  padding: 15px;
  background: rgb(19, 11, 101);
  width: 500px;
  height: 270px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px auto 0;
}
.question-count {
  flex: 1;
}
.question-count h2,
.question-count h3 {
  color: white;
}
h2 span {
  font-size: 18px;
}
.option {
  display: flex;
  flex-direction: column;
  flex: 1;
}
button {
  margin: 6px 0;
  border: 5px solid rgb(75, 75, 235);
  background: rgb(19, 11, 101);
  border-radius: 20px;
  cursor: pointer;
  color: white;
  text-align: left;
  font-size: 16px;
  padding: 8px;
}
button:hover {
  transition: all 0.2s;
  background: rgb(75, 75, 235);
  padding: 9px;
}
.show-score {
  color: white;
  font-size: 25px;
  padding: 20px;
  margin-top: 75 px;
}
.correct {
  background: rgb(20, 216, 20);
}
.wrong {
  background: rgb(230, 28, 28);
}
